:root {

    /* Colors: */
    --black: #282828;
    --white: #FFFFFF;
    --primary: #6C63FF;
    --white-gray: #A2A2A2;
    --dark-gray: #333333;

}

* {
    padding: 0px;
    margin: 0px;
}

body {

    font-family: 'Poppins', sans-serif;
    position: relative;
    width: 100%;
    height: 100vh;
    

}

.intro-container {
    display: flex;
}

.intro {
    position: absolute;
    width: 96%;
    height: 92%;
    margin: auto;
    top: 4%;
    left: 2%;
    background-clip: c;
    background: transparent url('../img/intro-img.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.intro-text {
    max-width: 670px;
    color: var(--white);
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.welcome {
    font: normal normal normal 1.5rem/0px Poppins;
    letter-spacing: 6.72px;
}

.intro-text-description {
    text-align: center;
    font: normal normal bold 2.5rem/4.4rem Poppins;
}

.intro-line {
    width: 210px;
    height: 2px;
    background-color: var(--white);
}

.intro-btn {
    background-color: var(--white);
    border-radius: 35px;
    color: var(--primary);
    border: none;
    width: 200px;
    height: 54px;
}

.intro-btn:hover {
    background-color: rgba(255, 255, 255, 0.863);
}

/* sign-Up */

.signUp-container {
    display: flex;
    justify-content: flex-end;
    gap: 12vw;
    align-items: center;
    height: 100vh;
}


.form-container {
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.signUp-img {
    width: 48vw;
    height: 100vh;
}


.signUp-text {
    font-size: 52;
    color: var(--black);
    padding-bottom: 16px;

}

label {
    color: var(--white-gray);
    font-size: .8rem;
}

input {
    padding: 0px 2px;
    font-size: 1rem;
    height: 3rem;
    width: 28rem;
    background-color: var(--white);
    border-color: transparent transparent #a2a2a265 transparent;

}

input:focus-visible {
    outline: none;
    color: var(--primary);
    border-color: transparent transparent var(--primary) transparent;
}


.btn {
    background-color: var(--primary);
    border-radius: 35px;
    color: var(--white);
    border: none;
    width: 220px;
    height: 54px;
    text-align: center;
}

.btn:hover {
    background-color: #5d55fc;
}

.border-btn {
    background-color: var(--white);
    border-radius: 35px;
    color: var(--primary);
    border: 1px solid var(--primary);
}

.border-btn:hover {
    background-color: rgb(238, 238, 238);
}

.btns-container {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.input-label span {
    display: block;
    visibility: hidden;
    /* color: rgb(247, 33, 33); */
    color: #D8000C;
    font-size: .8rem;
    margin-top: 2px;
    padding: 0;
}

/* ready page */

.ready-text-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    position: absolute;
    top: 40%;
    left: 29%;
}

.ready-text-container {
    width: 40vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.ready-tittle {
    color: var(--dark-gray);
    font: normal normal medium 1.8rem/40px Poppins;
}

.best-text {
    color: var(--white-gray);
}

.ready-pragraph {
    color:var(--dark-gray);
    text-align: center;
    font-size: 1.2rem;

}

.ready-img{
    
    /* width: 100vh; */
    color: white;
   
  
    background: transparent url('../img/ready.png') 0% 0% no-repeat padding-box ;
    height: 20vh;
    width: 100vw;
    
}

.mexican-wave{
    padding: 20px;
    /* color: var(--white); */
}




/* exam style */


#Progress-contanier {
    width: 86%;
    background-color: white;
    height: 32px;
    border-radius: 20px;
    border: 1px solid #D8D8D8;
}

#progBar {
    display: inline-block;
    background-color: var(--primary);
    height: 32px;
    width: 0;
    border-radius: 20px;
}

#timer {
    color: var(--primary);
    font-size: 1.5rem;
}

.timer-container {
    display: flex;
    gap: 50px;
    margin-top: 20px;
    margin-bottom: 80px;
    margin-left: 80px;
    margin-right: 40px;
}

#quesHeader {
    color: var(--black);
    text-align: left;
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: 500;
    width: 450px;
}

.que-mark-container {
    display: flex;
    gap: 200px;
    margin-bottom: 40px;
}

input[type='radio'] {
    box-sizing: border-box;
    appearance: none;
    background: var(--white);
    outline: 2px solid #6b63ff2c;
    border: 3px solid white;
    border-radius: 4px;
    width: 1.6rem;
    height: 1.6rem;
    padding: 0;
    margin: 0;
}

input[type='radio']:checked {
    background: var(--primary);
    border-radius: 4px;
}

.answers-lables {
    color: var(--black);
    text-align: left;
    font-weight: 300;
    font-size: 1rem;
    text-transform: capitalize;
    padding: 16px;
    margin: 10px;
    width: 90%;
    /* height: 80px; */
    background-color: #F3F3F3;
    border-radius: 12px;
    display: inline-block;
    box-sizing: border-box;
}



.mark,
#next,
#prev {
    font-size: 2rem;
    cursor: pointer;
    color: rgb(211, 211, 211);

}

#next,
#prev {
    color: var(--primary);
}



.mark:hover {
    color: rgba(0, 0, 0, 0.61);
}

#qnum {
    font-size: 1.5rem;

    color: var(--dark-gray);
}

.next-prev-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-submit-container {
    display: flex;
    gap: 300px;
    margin-top: 60px;
    /* margin-left: 68px; */

}

.exam-container {
    display: flex;
    justify-content: flex-end;
}


.marked-questions {
    color: var(--black);
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
    text-transform: capitalize;
    background-color: #F3F3F3;
    padding: 16px;
    border-radius: 12px;
    width: 78%;
    cursor: pointer;
}

.mark-title {
    color: var(--primary);
    text-align: left;
    text-transform: capitalize;
    font-size: 1.6rem;
    font-weight: 500;
    margin: 32px;
}

.mark-line {
    border: 1px solid #707070;
    background-color: #707070;
    opacity: 0.29;
    width: 84%;
    /* margin-bottom: 10px; */
}

.mark-list-container {

    background: var(--white) 0% 0% no-repeat padding-box;
    box-shadow: -13px 4px 31px #00000014;
    width: 22%;
    height: 100vh;
}

.mark-list-container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.test-container {
    width: 78%;
    display: flex;
    flex-direction: column;

}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-exam:hover {
    background-color: var(--primary);
    color: var(--white);
}